<!DOCTYPE html>
<html>
<head>
	<title>Request in Approval</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

</head>
<body>
	<div class="container">
		<div class="row">
			<h1>
				Thank you for filling out the details. Your request has been accepted and will be <br>
				reviewed by the moderators.<br>
				You will recieve an email once your request has been approved
			</h1>
		</div>
	</div>
</body>
</html>