, a:hover
{
    text-decoration: none !important;
    color: black;
}

.brand-logo
{
    margin: 15px 40px;
    padding-bottom: 20px;
}

.submit
{
    margin: 10px;

}

.container
{
    background-color: #f2f2f2;
}

.form
{
    background-color: white;
    width: 95%;
    height: 90%;
    margin : 0 auto;
    padding: 20px;
    box-shadow: 0 0 5px black;
    border: 1px solid gray;
}

form
{
    margin: 5% auto;

}

.form-heading
{
    font-family : Forza,Lato;
    font-size: 24px;
    text-align: center;
    margin-top: 5%;
}


#add
{
    display: none;
}

label
{
    display : inline-block;
    color:black;
    font-size: 16px !important;
    font-family: Lato !important;
}
.form-element
{
    margin : 20px 7%;  
}

.form-element input
{   
    margin-top: 0.25rem !important;
    margin-bottom: 0.5rem !important;
    font-size: 16px !important;
    width: 95% !important;
    padding: 10px !important;
    box-sizing: border-box !important;
    }

.form-element input:focus
{
    border: 1px solid black;
}

#id_image:focus
{
    border: none !important;
}

#id_startup
{
    width: 20%  !important;
    padding: 8px 5px 5px 10px !important;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    background-color: white !important;
    box-sizing: none !important;
    border-radius: 2px !important;
    font-size: 14px !important;
    color: black !important;
    border: 1px solid grey !important;
    height: 40px;

}

input
{
    outline: none !important;
    box-sizing : none !important;
}
#id_image
{
    cursor: pointer;
}
#id_add_another_founder
{
    width: 50px !important;
}


.btn-submit
{
    width: 200px !important;
}
#add, #save
{
    
    width: 250px !important; 
    background-color: #1762ee;
    font-family : Forza,Lato;
    font-size: 20px;
    color: white;
}


.errorlist li
{
    list-style-type: none;
}
.errorlist
{

    color: red
}


.footer
{
    height: 50px;
}

label
{
    display: inline-block !important;
}

#list
{
    display: none;
}
input[type='file'] {
  color: transparent;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Add Image';
  display: inline-block;
  /*background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);*/
  /*border: 1px solid #999;*/
  background-color: #1762ee;
  border-radius: 3px;
  padding: 8px;
  font-size: 16px;
  outline: none;
  color: white;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-family : Forza,Lato;
  /*text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10px;*/
  
}

.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.required
{
    color:red;
}



textarea
{

    font-size: 2rem !important;
    padding: 5px !important;
    width: 95% !important;
    color:black !important;
}

textarea:focus
{
    outline: none;
    color: black !important;
    border: 1px solid black;
}

textarea:focus
{
    outline: none;
    box-sizing: none;
    color: black;
    /*border-bottom: 2px solid grey !important;*/
}

